body
{
    text-align: center;
    font-family: "Roboto", sans-serif;
}
button
{
    background-color: cyan;
    padding: 10px 16px;
    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}
.guess
{
    width: 15rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
button:disabled
{
    cursor: not-allowed;
}

